@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    color: #495057;
    text-align: center;
    margin: 0;
    padding: 0;
}

#tickets ul {
    list-style-type: none;
    padding: 0;
}